.modal {
    width: 300px;
    height: 200px;
    position: absolute;
    margin-top: 3%;
    padding: 2%;
    background-color: whitesmoke;
    border: 2px solid #4A6152;
    border-radius: 8px;
}

.hidden {
    display: none;
}