.modal {
    width: 300px;
    height: 200px;
    position: absolute;
    margin-top: 3%;
    padding: 2%;
    background-color: whitesmoke;
    color: #1a1a1a;
    border: 2px solid #4A6152;
    border-radius: 8px;
}

.modal h2 {
    font-size: 1.2em;
    margin-bottom: 2%;
}

.hidden {
    display: none;
}